:root{
  --var-dark-cyan: hsl(185, 75%, 39%);
  --var-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --var-dark-grayish-blue: hsl(227, 10%, 46%);
  --var-dark-gray: hsl(0, 0%, 59%);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--var-dark-cyan);
  display: flex;
  position: relative;
  height: 100vh;

  font-size: 10px;
}


.circle-1{
  max-width: 1000px;
  position: absolute;
  top: -500px;
  left: -130px;
}
.circle-2{
  max-width: 1000px;
  position: absolute;
  bottom: -500px;
  right: -200px;
}


